In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data/ipca_mensal.csv')

In [7]:
pd.set_option('display.max_rows', 100)

In [8]:
display(data)

        periodo  ipca_mensal
0    1979-12-01          NaN
1    1980-01-01         6.62
2    1980-02-01         4.62
3    1980-03-01         6.04
4    1980-04-01         5.29
..          ...          ...
540  2024-12-01         0.52
541  2025-01-01         0.16
542  2025-02-01         1.31
543  2025-03-01         0.56
544  2025-04-01         0.43

[545 rows x 2 columns]